@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');
.stylish-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fragment Mono", monospace;
  overflow-y: hidden;
}
.alterSwiper {
  margin-top: -31dvh;
  height: 135dvh;
}
.swiper-slide {
  min-height: 500px;
  border-radius: 20px;
}